@font-face {
    font-family: 'Cyklop';
    src: url('../font/cyklop/Cyklop-Regular.woff2') format('woff2'),
        url('../font/cyklop/Cyklop-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cyklop';
    src: url('../font/cyklop/Cyklop-Italic.woff2') format('woff2'),
        url('../font/cyklop/Cyklop-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

.cyklop {
    font-family: 'Cyklop';
    font-weight: normal;
    font-style: normal;
}
.bg {
    background-image: url(../img/solarPanelWall.jpg);
    /* Full height */
    height: 100%;

     /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
body {
    margin:0;
    padding:0;  
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    min-height:100vh;
}

main {
    flex:1 0 auto;
}

.active {
  background: rgb(136, 133, 139);
}

.footerColor {
  color: rgb(187, 187, 187);
}
.subFooterColor {
  color: grey;
}

.list-group-item {
  background: rgb(129, 128, 128);
  opacity: 0.9;
}

.colorDocItem {
  color: rgb(32, 32, 41);
}

.opNav {
  opacity: 0.5;
}

.navbar {
  opacity: 0.45;
}

.navbar a:hover {
  background: grey;
  color: white;
  opacity: 1;
}

.opImg {
  opacity: 0.95;
}

.opBlog {
  opacity: 0.85;
}

footer {
  opacity: 0.75;
}