@font-face {
    font-family: 'Cyklop';
    src: url('../font/cyklop/Cyklop-Regular.woff2') format('woff2'),
        url('../font/cyklop/Cyklop-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cyklop';
    src: url('../font/cyklop/Cyklop-Italic.woff2') format('woff2'),
        url('../font/cyklop/Cyklop-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

.cyklop {
  font-family: 'Cyklop';
  font-weight: normal;
  font-style: normal;
}
