@font-face {
    font-family: 'Cyklop';
    src: url('../font/cyklop/Cyklop-Regular.woff2') format('woff2'),
        url('../font/cyklop/Cyklop-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cyklop';
    src: url('../font/cyklop/Cyklop-Italic.woff2') format('woff2'),
        url('../font/cyklop/Cyklop-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

.cyklop {
    font-family: 'Cyklop';
    font-weight: normal;
    font-style: normal;
}
.bg {
    /*background-image: url(../img/solarPanelWall2.jpg);*/
    background: #def7ff;
    /* Full height */
    height: 100%;

     /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
body {
  margin:0;
  padding:0;  
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  min-height:100vh;
}

main {
  flex:1 0 auto;
}

.active {
  background: rgb(51, 60, 82);
  border: 0.02px solid #88b0d2;
}

footer {
  background-color: #292724bd;
}
.footerColor {
  color: rgb(187, 187, 187);
}
.subFooterColor {
  color: grey;
}

.list-group-item {
  background: rgb(141, 140, 77);
  opacity: 0.5;
}

.colorDocItem {
  color: rgb(212, 213, 213);
}

.marginBottom{
  margin-bottom: 50px;
}

.navbar {
  opacity: 0.8;
  z-index: 1;
}

.nav-link {
  color: #d6d0b9;
}

.dropdown-menu {
  background: black;
  }

.navbar .dropdown-menu a:not(.active) {
  color: #d6d1bc;
}

.dropdown-item.active,
    .dropdown-item:active {
      color: black;
      text-decoration: none;
      background-color: #def7ff;
    }

.dropdown-item {
  color: #dad4c1;
}

.navbar a:hover {
  background: rgb(51, 60, 82);
  color: white;
  opacity: 1;
}
.nav-item {
  border: 0.02px solid #88b0d2;
}
